<main class="main">
	<header class="header">
		<div class="header__wrapper">
		  <form action="" class="search">
		  </form>
		  <div class="profile">
			<button class="profile__button" (click)="logout()">
			  <span class="profile__name"><b> {{userName}} </b></span>
			  <img
				class="profile__img"
				src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMx1itTXTXLB8p4ALTTL8mUPa9TFN_m9h5VQ&usqp=CAU"
				alt="Profile picture"
				loading="lazy"
			  />
			</button>
		  </div>
		</div>
	  </header>
</main>